- var vanilla_string = vanilla_status ? "Up" : "Down"
html
    head
    body
        h1 Welcome to the Cabalpit Minecraft server!
        h3 Current servers are
        table
            thead
                tr
                    td Port
                    td Server
                    td Version
                    td Status
            tbody
                tr
                    td 25565
                    td Vanilla
                    td 1.9.4
                    td #{vanilla_string}
                tr
                    td 25566
                    td Direwolf20
                    td 1.10
                    td Up?